In [2]:
import pandas as pd
import numpy as np
from linearmodels.iv import IV2SLS
import statsmodels.api as sm

Notes:
1. The fact there's negative utility just means on average the utility is less than if the person did not buy a car. The unobserved characteristics are in the expression for the mean utility. 
2. Oh I actually meant not the unobserved characteristics but the error term must be a positive shock for the person to buy a car like in the marriage model 
3. Income should not be included as it's an individual characteristic that cancels out. Mistake to include. However, you can include an interaction of income with a characteristic 
4. Sales is not a characteristic

In [3]:
# Path to your file
file_path = '/Users/danielseymour/Downloads/car_data_up.dta'

# Load the .dta (Stata) file
df = pd.read_stata(file_path)

# Display the first few rows
df.head()

,brand,model,sales,home,fuel,time,products,age,enginesize,income,averagesizecompetitor,price
0,BMW,5,160,0,0,1994,43,2,3,4045.563721,1870.260010,13251.009766
1,BMW,3,210,1,1,1994,8,2,3,4045.563721,1782.649658,8996.839844
2,daihatsu,applause,370,0,0,1994,34,4,2,4045.563721,1470.613037,5924.431152
3,daihatsu,domino,120,0,1,1994,19,10,3,4045.563721,1907.504395,3472.578857
4,daihatsu,charade,310,0,1,1994,22,5,2,4045.563721,1512.156616,4081.043701

In [4]:
df.describe()

,sales,home,fuel,time,products,age,enginesize,income,averagesizecompetitor,price
count,1206.000000,1206.000000,1206.000000,1206.000000,1206.000000,1206.000000,1206.000000,1206.000000,1206.000000,1206.000000
mean,500.588723,0.495854,0.398010,1998.990050,22.854892,5.009950,2.195688,4292.482422,1436.866455,6539.218750
std,880.956898,0.500190,0.489691,3.163836,21.388515,3.163836,0.754416,665.153198,321.507111,4788.465820
min,20.000000,0.000000,0.000000,1994.000000,0.000000,0.000000,1.000000,3002.935547,286.301941,400.000000
25%,130.000000,0.000000,0.000000,1996.000000,8.000000,2.000000,2.000000,3996.340332,1224.235687,2986.719055
50%,240.000000,0.000000,0.000000,1999.000000,15.000000,5.000000,2.000000,4157.279785,1456.350159,5210.430420
75%,460.000000,1.000000,1.000000,2002.000000,32.000000,8.000000,3.000000,4956.622070,1686.146179,8724.577393
max,8750.000000,1.000000,1.000000,2004.000000,139.000000,10.000000,3.000000,5637.940430,2179.595947,27217.203125

## Step 1: Compute the market shares

We do this based off of unit sales, not revenue. This is because we're modelling the probability that a consumer chooses a product. Using revenue would bias towards more expensive products. We calculate the market shares as:


$$
s_{jt} = \frac{\text{sales}_{jt}}{\text{market size}_t}
$$

Importantly we need to estimate the market size. It's not the sum of the car sales as we need to include the outside good, which is that the consumer buys no car in the dataset as they don't need one, keep their old one, take the bus etc.   

As we're given the data for the total population (79,000) and Adult population (70,000), we can use the adult population to give the potential market size. 

So for each year t:

$$\text{Market share of product } j = \frac{\text{sales}_j}{70,000}$$

$$\text{Market share of outside good } = 1 - \sum_j \left( \frac{\text{sales}_j}{70,000} \right)$$

Note on why we subscript by time:  
- Each year is a separate market in a discrete choice framework.
- Consumers are choosing among cars available in that year.
- The MNL model assumes the choice set and conditions are fixed within each “market” — so you treat each year as a different market (with its own prices, products, sales, etc.).

In [5]:
total_sales_per_year = df.groupby('time')['sales'].sum()
total_sales_per_year

time
1994    40568
1995    46093
1996    42749
1997    51224
1998    54530
1999    56942
2000    55850
2001    58012
2002    63830
2003    64672
2004    69240
Name: sales, dtype: int64

In [6]:
df['total_sales_year'] = df['time'].map(total_sales_per_year)
df['market_share'] = df['sales'] / 70000  # or use df['total_sales_year'] if you want inside-only shares

In [7]:
# Inside share per year
inside_share = df.groupby('time')['market_share'].sum()
df['outside_share'] = df['time'].map(1 - inside_share)

In [8]:
df

,brand,model,sales,home,fuel,time,products,age,enginesize,income,averagesizecompetitor,price,total_sales_year,market_share,outside_share
0,BMW,5,160,0,0,1994,43,2,3,4045.563721,1870.260010,13251.009766,40568,0.002286,0.420457
1,BMW,3,210,1,1,1994,8,2,3,4045.563721,1782.649658,8996.839844,40568,0.003000,0.420457
2,daihatsu,applause,370,0,0,1994,34,4,2,4045.563721,1470.613037,5924.431152,40568,0.005286,0.420457
3,daihatsu,domino,120,0,1,1994,19,10,3,4045.563721,1907.504395,3472.578857,40568,0.001714,0.420457
4,daihatsu,charade,310,0,1,1994,22,5,2,4045.563721,1512.156616,4081.043701,40568,0.004429,0.420457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,rover,mini,3980,1,0,2004,5,0,1,4989.745117,410.575714,6985.456055,69240,0.056857,0.010857
1202,rover,montego,1190,1,1,2004,17,3,3,4989.745117,924.141785,6929.085449,69240,0.017000,0.010857
1203,rover,800,130,1,0,2004,16,6,2,4989.745117,1084.296265,2936.483887,69240,0.001857,0.010857
1204,rover,200,110,0,0,2004,50,7,3,4989.745117,1464.663574,4492.992188,69240,0.001571,0.010857
1205,subaru,mini jum,320,0,0,2004,25,9,2,4989.745117,955.675110,919.563782,69240,0.004571,0.010857

## Step 2: Compute the mean utility for each product

Given the logit expression, we can compute the mean utility for each product through by taking the ratio of the natural logarithm between of $s_j$  to $s_0$ : 
$$\frac{s_j}{s_0} = \exp(\delta_j)$$  
$$\ln(s_j) - \ln(s_0) = \delta_j$$

In [9]:
df['log(market_share)'] = np.log(df['market_share'])
df['log(outside_share)'] = np.log(df['outside_share'])
df

,brand,model,sales,home,fuel,time,products,age,enginesize,income,averagesizecompetitor,price,total_sales_year,market_share,outside_share,log(market_share),log(outside_share)
0,BMW,5,160,0,0,1994,43,2,3,4045.563721,1870.260010,13251.009766,40568,0.002286,0.420457,-6.081077,-0.866413
1,BMW,3,210,1,1,1994,8,2,3,4045.563721,1782.649658,8996.839844,40568,0.003000,0.420457,-5.809143,-0.866413
2,daihatsu,applause,370,0,0,1994,34,4,2,4045.563721,1470.613037,5924.431152,40568,0.005286,0.420457,-5.242748,-0.866413
3,daihatsu,domino,120,0,1,1994,19,10,3,4045.563721,1907.504395,3472.578857,40568,0.001714,0.420457,-6.368759,-0.866413
4,daihatsu,charade,310,0,1,1994,22,5,2,4045.563721,1512.156616,4081.043701,40568,0.004429,0.420457,-5.419678,-0.866413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,rover,mini,3980,1,0,2004,5,0,1,4989.745117,410.575714,6985.456055,69240,0.056857,0.010857,-2.867213,-4.522932
1202,rover,montego,1190,1,1,2004,17,3,3,4989.745117,924.141785,6929.085449,69240,0.017000,0.010857,-4.074542,-4.522932
1203,rover,800,130,1,0,2004,16,6,2,4989.745117,1084.296265,2936.483887,69240,0.001857,0.010857,-6.288716,-4.522932
1204,rover,200,110,0,0,2004,50,7,3,4989.745117,1464.663574,4492.992188,69240,0.001571,0.010857,-6.455770,-4.522932
1205,subaru,mini jum,320,0,0,2004,25,9,2,4989.745117,955.675110,919.563782,69240,0.004571,0.010857,-5.387930,-4.522932

In [10]:
df['mean_utility'] = df['log(market_share)'] - df['log(outside_share)'] 
df

,brand,model,sales,home,fuel,time,products,age,enginesize,income,averagesizecompetitor,price,total_sales_year,market_share,outside_share,log(market_share),log(outside_share),mean_utility
0,BMW,5,160,0,0,1994,43,2,3,4045.563721,1870.260010,13251.009766,40568,0.002286,0.420457,-6.081077,-0.866413,-5.214664
1,BMW,3,210,1,1,1994,8,2,3,4045.563721,1782.649658,8996.839844,40568,0.003000,0.420457,-5.809143,-0.866413,-4.942730
2,daihatsu,applause,370,0,0,1994,34,4,2,4045.563721,1470.613037,5924.431152,40568,0.005286,0.420457,-5.242748,-0.866413,-4.376335
3,daihatsu,domino,120,0,1,1994,19,10,3,4045.563721,1907.504395,3472.578857,40568,0.001714,0.420457,-6.368759,-0.866413,-5.502346
4,daihatsu,charade,310,0,1,1994,22,5,2,4045.563721,1512.156616,4081.043701,40568,0.004429,0.420457,-5.419678,-0.866413,-4.553265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,rover,mini,3980,1,0,2004,5,0,1,4989.745117,410.575714,6985.456055,69240,0.056857,0.010857,-2.867213,-4.522932,1.655719
1202,rover,montego,1190,1,1,2004,17,3,3,4989.745117,924.141785,6929.085449,69240,0.017000,0.010857,-4.074542,-4.522932,0.448390
1203,rover,800,130,1,0,2004,16,6,2,4989.745117,1084.296265,2936.483887,69240,0.001857,0.010857,-6.288716,-4.522932,-1.765784
1204,rover,200,110,0,0,2004,50,7,3,4989.745117,1464.663574,4492.992188,69240,0.001571,0.010857,-6.455770,-4.522932,-1.932838
1205,subaru,mini jum,320,0,0,2004,25,9,2,4989.745117,955.675110,919.563782,69240,0.004571,0.010857,-5.387930,-4.522932,-0.864997

In [12]:
df.columns

Index(['brand', 'model', 'sales', 'home', 'fuel', 'time', 'products', 'age',
       'enginesize', 'income', 'averagesizecompetitor', 'price',
       'total_sales_year', 'market_share', 'outside_share',
       'log(market_share)', 'log(outside_share)', 'mean_utility'],
      dtype='object')

## Step 3: Estimate consumers’ preferences by regressing, the mean utility on cars characteristics

### Car Characteristics (Variable Mapping)

| Characteristic                          | Data Column                   |
|----------------------------------------|-------------------------------|
| Engine size                            | `enginesize`                  |
| Age                                     | `age`                         |
| Price                                   | `price`                       |
| Home-production dummy variable          | `home`                        |
| Gasoline dummy variable                 | `fuel`                        |
| Income                                  | `income`                      |
| Number of competitors’ products         | `products`                    |
| Number of scrapped cars                 | `time`                        |
| Average engine-size of competitors      | `averagesizecompetitor`       |

Questions:      
- Why is income a car characteristic? It's a market-level characteristic because it's the average income for that year. This is important to include to control for differences across years because consumers being richer in one year will affect what products they choose. 
- How to include brand and model? This combination is product j!  
- Given that price is correlated with unobserved characteristic which violates endogeneity, what is an instrument that is a good cost-shifter? My first thought is whether the car is imported or not that could easily be seen as correlated with unobserved quality. But, actually, referring back to (BLP, 1995), a good instrument is made of the product characteristics of competitors because **Competitor Characteristics → Competitor Costs → Competitor Prices → Your Price**  
- How to classify the scrapped cars variable? I don't it affects customer utility directly. In any case, I don't actually see it as a column so we can ignore for now. 

For regressions, we want to estimate are:

For OLS: 
$$\delta_j \equiv \ln\left(\frac{s_j}{s_0}\right) = x_j \beta - \alpha p_j + \xi_j$$

For IV:  

First Stage: 
$$p_j = z_j \pi + \eta_j$$  

Where: $z_j$ includes both $x_j$ (exogenous product characteristics)  
and instruments for $p_j$ (e.g., competitor characteristics) and $\eta_j$ is the first-stage error term.

Second Stage: 
$$\delta_j = x_j \beta - \alpha \hat{p_j} + \xi_j$$

Where: $\hat{p}_j$ is the predicted price from the first stage (i.e., the exogenous variation in price)  
and $\xi_j$ is the unobserved product quality (demand shock)

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

# Create a unique product identifier from brand and model
df['product_j'] = df['brand'] + '_' + df['model']

# Convert categorical variables if needed
for col in ['home', 'fuel']:
    if df[col].dtype == 'object':
        df[col] = pd.Categorical(df[col]).codes

# Check for NaN values and handle them
numeric_cols = ['enginesize', 'age', 'price', 'income', 'time', 'mean_utility']
for col in numeric_cols:
    if df[col].isna().any():
        print(f"Warning: NaN values detected in {col}")
        df[col] = df[col].fillna(df[col].mean())

# Formula approach - note the C() notation for categorical variables
formula = """
mean_utility ~ 1 + enginesize + age + price + home + fuel + income + C(time) + C(product_j)
"""

# Run OLS regression with formula
model = smf.ols(formula=formula, data=df)
results = model.fit()

# Display regression results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           mean_utility   R-squared:                       0.202
Model:                            OLS   Adj. R-squared:                  0.061
Method:                 Least Squares   F-statistic:                     1.432
Date:                Tue, 25 Mar 2025   Prob (F-statistic):           0.000473
Time:                        10:35:15   Log-Likelihood:                -2052.7
No. Observations:                1206   AIC:                             4469.
Df Residuals:                    1024   BIC:                             5397.
Df Model:                         181
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Intercept                             -4.0918      0.545     -7.506      0.000      -5.162      -3.022
C(product_j)[T.BMW_5]                  0.0692      0.566      0.122      0.903      -1.041       1.179
C(product_j)[T.VW_bora]                3.0198      1.505      2.007      0.045       0.067       5.972
C(product_j)[T.VW_golf]                0.2828      0.577      0.490      0.624      -0.850       1.416
C(product_j)[T.VW_jetta]               0.7165      0.826      0.867      0.386      -0.905       2.338
C(product_j)[T.VW_lupo]                1.6359      1.501      1.090      0.276      -1.309       4.581
C(product_j)[T.VW_passat]              0.3485      0.577      0.604      0.546      -0.785       1.482
C(product_j)[T.VW_polo]                0.3364      0.577      0.583      0.560      -0.796       1.469
C(product_j)[T.VW_vento]              -0.1429      0.714     -0.200      0.841      -1.543       1.257
C(product_j)[T.alfa romeo_145]         0.5222      0.761      0.686      0.493      -0.971       2.015
C(product_j)[T.alfa romeo_146]         0.4758      0.762      0.625      0.532      -1.019       1.970
C(product_j)[T.alfa romeo_155]         0.3181      0.677      0.470      0.638      -1.010       1.646
C(product_j)[T.alfa romeo_156]         0.4475      1.497      0.299      0.765      -2.491       3.386
C(product_j)[T.alfa romeo_164]         0.4476      0.592      0.757      0.449      -0.713       1.608
C(product_j)[T.alfa romeo_166]         0.1207      1.498      0.081      0.936      -2.818       3.060
C(product_j)[T.alfa romeo_33]          0.3604      0.648      0.556      0.578      -0.911       1.632
C(product_j)[T.alfa romeo_75]          0.7884      0.714      1.104      0.270      -0.612       2.189
C(product_j)[T.alfa romeo_GTV]        -0.0657      0.761     -0.086      0.931      -1.559       1.427
C(product_j)[T.audi_100/200]          -0.4073      0.714     -0.571      0.568      -1.808       0.993
C(product_j)[T.audi_80/90]             0.9147      0.648      1.411      0.159      -0.357       2.187
C(product_j)[T.audi_A3]                0.2024      0.924      0.219      0.827      -1.611       2.016
C(product_j)[T.audi_A4]                0.7128      0.760      0.938      0.348      -0.778       2.204
C(product_j)[T.audi_A6]                0.1362      0.761      0.179      0.858      -1.357       1.629
C(product_j)[T.audi_A8]                0.3623      0.759      0.478      0.633      -1.126       1.851
C(product_j)[T.citroen_2CV6]           0.8592      1.096      0.784      0.433      -1.291       3.010
C(product_j)[T.citroen_AX]            -0.2116      0.591     -0.358      0.720      -1.370       0.947
C(product_j)[T.citroen_BX]             0.1837      0.678      0.271      0.786      -1.146       1.514
C(product_j)[T.citroen_CX]             0.8092      0.826      0.980      0.327      -0.811       2.430
C(product_j)[T.citroen_XM]             0.5796      0.566      1.025      0.306      -0.530       1.689
C(product_j)[T.citroen_ZX]             0.6773      0.626      1.082      0.279      -0.551       1.905
C(product_j)[T.citroen_saxo]           0.1844      0.826      0.223      0.823      -1.436       1.805
C(product_j)[T.citroen_xantia]         0.5555      0.680      0.817      0.414      -0.779       1.890
C(product_j)[T.citroen_xsara]          1.7310      1.098      1.576      0.115      -0.424       3.886
C(product_j)[T.daewoo_espero]          0.0399      1.098      0.036      0.971      -2.114       2.194
C(product_j)[T.daewoo_lanos]           1.8455      1.096      1.685      0.092      -0.304       3.995
C(product_j)[T.daewoo_leganza]         0.6369      1.098      0.580      0.562      -1.518       2.792
C(product_j)[T.daewoo_matiz]           0.6672      1.097      0.608      0.543      -1.485       2.820
C(product_j)[T.daewoo_nexia]          -0.3300      1.097     -0.301      0.764      -2.482       1.822
C(product_j)[T.daewoo_nubira]          0.0673      1.096      0.061      0.951      -2.084       2.219
C(product_j)[T.daihatsu_applause]      0.4587      0.649      0.707      0.480      -0.815       1.732
C(product_j)[T.daihatsu_charade]      -0.0581      0.579     -0.100      0.920      -1.194       1.078
C(product_j)[T.daihatsu_domino]       -0.2629      0.566     -0.464      0.642      -1.374       0.848
C(product_j)[T.daihatsu_sirion]       -0.5964      1.496     -0.399      0.690      -3.533       2.340
C(product_j)[T.fiat_126]               0.4724      0.826      0.572      0.568      -1.149       2.094
C(product_j)[T.fiat_brava/o]          -0.1983      0.827     -0.240      0.810      -1.820       1.424
C(product_j)[T.fiat_cinquecento]      -0.0620      0.761     -0.081      0.935      -1.556       1.432
C(product_j)[T.fiat_croma]             0.7231      0.607      1.191      0.234      -0.469       1.915
C(product_j)[T.fiat_marea]            -0.0609      0.925     -0.066      0.948      -1.876       1.755
C(product_j)[T.fiat_palio]             0.8511      1.096      0.777      0.437      -1.299       3.001
C(product_j)[T.fiat_panda]            -0.0336      0.566     -0.059      0.953      -1.144       1.077
C(product_j)[T.fiat_punto]            -0.1737      0.713     -0.244      0.808      -1.573       1.226
C(product_j)[T.fiat_regatta]          -0.4118      1.097     -0.375      0.707      -2.564       1.740
C(product_j)[T.fiat_seicento]         -1.0646      1.502     -0.709      0.479      -4.011       1.882
C(product_j)[T.fiat_tempra]            0.9764      0.612      1.595      0.111      -0.225       2.178
C(product_j)[T.fiat_tipo]              0.5845      0.627      0.932      0.352      -0.646       1.816
C(product_j)[T.fiat_uno]               0.3732      0.629      0.593      0.553      -0.861       1.608
C(product_j)[T.ford_escort]            0.5757      0.567      1.015      0.311      -0.538       1.689
C(product_j)[T.ford_fiesta]            0.1609      0.566      0.284      0.776      -0.950       1.272
C(product_j)[T.ford_focus]             0.4614      1.498      0.308      0.758      -2.478       3.401
C(product_j)[T.ford_ka]               -0.6274      0.926     -0.677      0.498      -2.445       1.191
C(product_j)[T.ford_mondeo]            1.0655      0.759      1.403      0.161      -0.425       2.556
C(product_j)[T.ford_orion]             0.3389      0.679      0.499      0.618      -0.993       1.671
C(product_j)[T.ford_scorpio]           0.3938      0.577      0.682      0.495      -0.739       1.527
C(product_j)[T.ford_sierra]            0.3282      0.713      0.460      0.645      -1.071       1.727
C(product_j)[T.honda_accord]           0.1634      0.568      0.288      0.774      -0.951       1.278
C(product_j)[T.honda_civic]            0.4504      0.566      0.796      0.426      -0.660       1.561
C(product_j)[T.honda_concerto]         0.7038      0.648      1.085      0.278      -0.569       1.976
C(product_j)[T.honda_legend]           0.2750      0.629      0.437      0.662      -0.959       1.509
C(product_j)[T.honda_logo]             1.0807      1.500      0.721      0.471      -1.863       4.024
C(product_j)[T.hyundai_atos]           0.1492      1.097      0.136      0.892      -2.003       2.302
C(product_j)[T.hyundai_lantra]         0.3161      0.592      0.534      0.593      -0.845       1.478
C(product_j)[T.hyundai_pony]           0.3766      0.566      0.665      0.506      -0.735       1.488
C(product_j)[T.hyundai_sonata]         0.1778      0.566      0.314      0.753      -0.933       1.288
C(product_j)[T.kia_clarus]             1.1355      0.824      1.378      0.169      -0.482       2.753
C(product_j)[T.kia_pride]              0.0883      0.824      0.107      0.915      -1.529       1.706
C(product_j)[T.kia_sephia]             0.2612      0.712      0.367      0.714      -1.136       1.659
C(product_j)[T.kia_shuma]              1.5859      1.500      1.057      0.291      -1.357       4.529
C(product_j)[T.lancia_Y10]             0.2760      0.568      0.486      0.627      -0.839       1.391
C(product_j)[T.lancia_dedra]           0.5285      0.578      0.914      0.361      -0.606       1.663
C(product_j)[T.lancia_delta]          -0.1673      0.566     -0.295      0.768      -1.279       0.944
C(product_j)[T.lancia_kappa]          -0.3333      0.763     -0.437      0.662      -1.831       1.164
C(product_j)[T.lancia_thema]           0.1705      0.649      0.263      0.793      -1.102       1.443
C(product_j)[T.mazda_121]              0.5313      0.566      0.939      0.348      -0.579       1.642
C(product_j)[T.mazda_323]              0.2304      0.566      0.407      0.684      -0.881       1.342
C(product_j)[T.mazda_626]              0.4742      0.566      0.837      0.403      -0.637       1.586
C(product_j)[T.mazda_929]             -0.0228      1.097     -0.021      0.983      -2.176       2.130
C(product_j)[T.mazda_demio]            2.3286      1.097      2.123      0.034       0.176       4.481
C(product_j)[T.mazda_xedos]            0.1421      0.711      0.200      0.842      -1.254       1.538
C(product_j)[T.mercedes_190]           0.3826      0.713      0.537      0.592      -1.016       1.781
C(product_j)[T.mercedes_200]           1.1067      0.713      1.552      0.121      -0.293       2.506
C(product_j)[T.mercedes_A]             1.3815      1.099      1.257      0.209      -0.775       3.538
C(product_j)[T.mercedes_C]             0.1714      0.676      0.253      0.800      -1.155       1.498
C(product_j)[T.mercedes_E]             0.0893      0.678      0.132      0.895      -1.241       1.420
C(product_j)[T.mitsubishi_carisma]     0.4932      0.759      0.650      0.516      -0.996       1.982
C(product_j)[T.mitsubishi_colt]        0.7370      0.566      1.302      0.193      -0.374       1.848
C(product_j)[T.mitsubishi_galant]      0.1617      0.566      0.286      0.775      -0.949       1.272
C(product_j)[T.mitsubishi_lancer]     -0.0484      0.578     -0.084      0.933      -1.182       1.086
C(product_j)[T.mitsubishi_sigma]       1.1010      0.825      1.334      0.182      -0.518       2.720
C(product_j)[T.nissan_almera]          0.5384      0.826      0.652      0.515      -1.082       2.159
C(product_j)[T.nissan_bluebird]        0.7393      1.100      0.672      0.501      -1.418       2.897
C(product_j)[T.nissan_laurel]         -1.1411      1.096     -1.041      0.298      -3.292       1.010
C(product_j)[T.nissan_maxima]          0.0609      0.577      0.106      0.916      -1.072       1.194
C(product_j)[T.nissan_micra]           0.1217      0.566      0.215      0.830      -0.989       1.232
C(product_j)[T.nissan_primera]         0.2419      0.591      0.410      0.682      -0.917       1.401
C(product_j)[T.nissan_sunny]           0.6605      0.627      1.054      0.292      -0.570       1.891
C(product_j)[T.opel_astra]             0.0591      0.626      0.094      0.925      -1.169       1.287
C(product_j)[T.opel_corsa]             0.3139      0.567      0.554      0.580      -0.799       1.427
C(product_j)[T.opel_kadet]             0.2030      0.824      0.246      0.806      -1.415       1.821
C(product_j)[T.opel_omega]             0.2107      0.568      0.371      0.711      -0.903       1.325
C(product_j)[T.opel_senator]           0.3247      0.678      0.479      0.632      -1.005       1.655
C(product_j)[T.opel_vectra]            0.2457      0.566      0.434      0.664      -0.865       1.356
C(product_j)[T.peugeot_106]            0.5868      0.626      0.937      0.349      -0.642       1.815
C(product_j)[T.peugeot_205]            0.9105      0.593      1.535      0.125      -0.253       2.074
C(product_j)[T.peugeot_206]            0.7634      1.501      0.508      0.611      -2.183       3.709
C(product_j)[T.peugeot_306]            0.1789      0.677      0.264      0.792      -1.150       1.508
C(product_j)[T.peugeot_309]            0.7781      0.676      1.151      0.250      -0.548       2.104
C(product_j)[T.peugeot_405]            0.1272      0.607      0.209      0.834      -1.064       1.318
C(product_j)[T.peugeot_406]            0.7248      0.827      0.877      0.381      -0.897       2.347
C(product_j)[T.peugeot_505]            1.0081      0.825      1.221      0.222      -0.611       2.628
C(product_j)[T.peugeot_605]            0.0048      0.566      0.008      0.993      -1.105       1.115
C(product_j)[T.renault_19]             0.6142      0.626      0.981      0.327      -0.615       1.843
C(product_j)[T.renault_21]             0.6743      0.677      0.996      0.319      -0.654       2.002
C(product_j)[T.renault_25]             0.8407      0.713      1.180      0.238      -0.558       2.239
C(product_j)[T.renault_4]             -0.0499      1.099     -0.045      0.964      -2.206       2.106
C(product_j)[T.renault_5]              0.6293      0.712      0.884      0.377      -0.767       2.026
C(product_j)[T.renault_clio]           0.7370      0.592      1.246      0.213      -0.424       1.898
C(product_j)[T.renault_laguna]         0.2249      0.714      0.315      0.753      -1.177       1.627
C(product_j)[T.renault_mégane]        -0.1204      0.825     -0.146      0.884      -1.739       1.498
C(product_j)[T.renault_nevada]        -0.3869      1.095     -0.353      0.724      -2.535       1.761
C(product_j)[T.renault_safrane]        0.1001      0.676      0.148      0.882      -1.227       1.427
C(product_j)[T.renault_twingo]         0.4557      0.678      0.673      0.501      -0.874       1.785
C(product_j)[T.rover_100]              0.4327      0.648      0.667      0.505      -0.840       1.705
C(product_j)[T.rover_200]              0.3631      0.566      0.641      0.521      -0.748       1.474
C(product_j)[T.rover_400]              0.3774      0.593      0.636      0.525      -0.787       1.542
C(product_j)[T.rover_600]              0.1350      0.678      0.199      0.842      -1.196       1.466
C(product_j)[T.rover_75]              -0.5359      1.499     -0.357      0.721      -3.477       2.406
C(product_j)[T.rover_800]              0.4634      0.577      0.803      0.422      -0.670       1.596
C(product_j)[T.rover_cabrio]          -0.6478      1.500     -0.432      0.666      -3.592       2.297
C(product_j)[T.rover_metro]            0.6135      1.097      0.559      0.576      -1.539       2.766
C(product_j)[T.rover_mini]             0.4622      0.578      0.799      0.424      -0.673       1.597
C(product_j)[T.rover_montego]          0.8982      0.676      1.328      0.184      -0.429       2.225
C(product_j)[T.saab_9.3]               0.8213      1.098      0.748      0.455      -1.334       2.977
C(product_j)[T.saab_9.5]              -0.6199      1.102     -0.563      0.574      -2.782       1.542
C(product_j)[T.saab_900]               0.6531      0.592      1.104      0.270      -0.508       1.814
C(product_j)[T.saab_9000]              0.4318      0.578      0.747      0.455      -0.703       1.567
C(product_j)[T.seat_arosa]             0.9182      1.096      0.838      0.402      -1.233       3.069
C(product_j)[T.seat_cordoba]           0.1560      0.715      0.218      0.827      -1.247       1.559
C(product_j)[T.seat_ibiza]             0.1077      0.578      0.186      0.852      -1.026       1.242
C(product_j)[T.seat_malaga]            0.8054      0.826      0.975      0.330      -0.816       2.427
C(product_j)[T.seat_marbella]          0.3569      0.608      0.587      0.557      -0.836       1.550
C(product_j)[T.seat_toledo]            0.6041      0.626      0.965      0.335      -0.624       1.832
C(product_j)[T.skoda_favorit]          0.4129      1.096      0.377      0.707      -1.739       2.565
C(product_j)[T.skoda_felicia]          0.7995      0.758      1.054      0.292      -0.688       2.287
C(product_j)[T.skoda_octavia]          0.9113      0.923      0.987      0.324      -0.900       2.722
C(product_j)[T.subaru_L13]             2.1473      1.096      1.960      0.050      -0.003       4.297
C(product_j)[T.subaru_mini jum]        1.0318      0.761      1.356      0.175      -0.461       2.525
C(product_j)[T.subaru_vivio]           0.2807      0.677      0.414      0.679      -1.048       1.610
C(product_j)[T.suzuki_alto]            0.0867      0.607      0.143      0.886      -1.104       1.277
C(product_j)[T.suzuki_baleno]          0.7608      0.759      1.002      0.316      -0.729       2.250
C(product_j)[T.suzuki_swift]           0.3458      0.579      0.597      0.551      -0.791       1.482
C(product_j)[T.toyota_avensis]         0.7789      1.097      0.710      0.478      -1.373       2.931
C(product_j)[T.toyota_camry]           0.3364      0.578      0.582      0.561      -0.799       1.472
C(product_j)[T.toyota_carina2]         0.3056      0.608      0.503      0.615      -0.887       1.498
C(product_j)[T.toyota_corolla]        -0.1084      0.577     -0.188      0.851      -1.241       1.024
C(product_j)[T.toyota_starlet]         0.4003      0.591      0.678      0.498      -0.758       1.559
C(product_j)[T.toyota_yaris]           1.4091      1.501      0.939      0.348      -1.536       4.354
C(product_j)[T.volvo_240]              0.3512      0.712      0.493      0.622      -1.045       1.748
C(product_j)[T.volvo_340]              0.7548      0.824      0.915      0.360      -0.863       2.373
C(product_j)[T.volvo_440-460]          0.2446      0.627      0.390      0.697      -0.986       1.476
C(product_j)[T.volvo_740-760]          0.9225      0.826      1.117      0.264      -0.698       2.543
C(product_j)[T.volvo_850]              0.0172      0.759      0.023      0.982      -1.473       1.507
C(product_j)[T.volvo_940-960]          0.1341      0.610      0.220      0.826      -1.062       1.330
C(product_j)[T.volvo_S40/V40]         -0.0251      0.826     -0.030      0.976      -1.646       1.596
C(product_j)[T.volvo_S70/V70]          0.1995      0.925      0.216      0.829      -1.615       2.014
C(product_j)[T.volvo_S80]              0.3642      1.497      0.243      0.808      -2.574       3.302
C(product_j)[T.volvo_S90/V90]          0.7137      1.499      0.476      0.634      -2.228       3.656
enginesize                            -0.5479      0.090     -6.109      0.000      -0.724      -0.372
age                                   -0.0861      0.030     -2.906      0.004      -0.144      -0.028
price                              -3.402e-05   2.17e-05     -1.566      0.118   -7.67e-05    8.61e-06
home                                   0.0756      0.092      0.821      0.412      -0.105       0.256
fuel                                   0.1329      0.100      1.329      0.184      -0.063       0.329
income                                 0.0004   6.71e-05      6.074      0.000       0.000       0.001
==============================================================================
Omnibus:                      126.836   Durbin-Watson:                   0.820

In [14]:
# Plot actual vs. predicted values
plt.figure(figsize=(10, 6))
plt.scatter(y, results.fittedvalues, alpha=0.5)
plt.plot([y.min(), y.max()], [y.min(), y.max()], 'k--')
plt.xlabel('Actual Mean Utility')
plt.ylabel('Predicted Mean Utility')
plt.title('Actual vs. Predicted Mean Utility')
plt.tight_layout()
plt.show()

# Plot coefficient estimates for main variables (adjusted to match X variables)
main_vars = ['const', 'enginesize', 'age', 'price', 'home', 'fuel', 
             'income', 'time']
coefs = results.params[main_vars]
conf_ints = results.conf_int().loc[main_vars]
plt.figure(figsize=(12, 8))
plt.errorbar(range(len(coefs)), coefs, yerr=[coefs-conf_ints[0], conf_ints[1]-coefs], fmt='o')
plt.axhline(y=0, linestyle='--', color='k', alpha=0.7)
plt.xticks(range(len(coefs)), coefs.index, rotation=45)
plt.title('Regression Coefficients with 95% Confidence Intervals')
plt.tight_layout()
plt.show()

NameError: name 'y' is not defined

In [ ]:
# Note linearmodels automatically includes the exogenous regressors as controls in the first stage

# Add product identifier
df['product_j'] = df['brand'].astype(str) + '_' + df['model'].astype(str)

formula = """
mean_utility ~ 1 + enginesize + age + fuel + income + C(time) + C(product_j)
              + [price ~ averagesizecompetitor + products + home]
"""

# 3. Estimate via IV2SLS
iv2sls_model = IV2SLS.from_formula(formula, data=df)
results = iv2sls_model.fit()

# 4. View summary
print(results.summary)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:           mean_utility   R-squared:                      0.6523
Estimator:                    IV-2SLS   Adj. R-squared:                 0.5872
No. Observations:                1206   F-statistic:                -1.903e+17
Date:                Sun, Mar 23 2025   P-value (F-stat)                1.0000
Time:                        14:08:52   Distribution:                chi2(190)
Cov. Estimator:                robust

                                         Parameter Estimates
======================================================================================================
                                    Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------------------------------
Intercept                             -4.2597     0.8044    -5.2958     0.0000     -5.8362     -2.6832
enginesize                            -0.9783     0.1596    -6.1309     0.0000     -1.2911     -0.6656
age                                    0.0966     0.0648     1.4893     0.1364     -0.0305      0.2236
fuel                                   0.3052     0.0881     3.4657     0.0005      0.1326      0.4779
income                              1.062e-05     0.0002     0.0665     0.9470     -0.0003      0.0003
C(time)[T.1995]                        0.2419     0.1185     2.0415     0.0412      0.0097      0.4741
C(time)[T.1996]                        0.0463     0.1109     0.4180     0.6760     -0.1710      0.2637
C(time)[T.1997]                        0.4376     0.1241     3.5255     0.0004      0.1943      0.6808
C(time)[T.1998]                        0.7332     0.1241     5.9070     0.0000      0.4899      0.9765
C(time)[T.1999]                        1.0107     0.1910     5.2917     0.0000      0.6363      1.3850
C(time)[T.2000]                        0.8757     0.2720     3.2198     0.0013      0.3426      1.4088
C(time)[T.2001]                        1.0504     0.1301     8.0725     0.0000      0.7953      1.3054
C(time)[T.2002]                        1.7774     0.1967     9.0376     0.0000      1.3919      2.1629
C(time)[T.2003]                        1.9688     0.1218     16.171     0.0000      1.7302      2.2074
C(time)[T.2004]                        3.9427     0.2008     19.630     0.0000      3.5490      4.3363
C(product_j)[T.BMW_5]                  0.0287     0.3834     0.0749     0.9403     -0.7227      0.7801
C(product_j)[T.VW_bora]                1.0889     0.3073     3.5437     0.0004      0.4866      1.6911
C(product_j)[T.VW_golf]                0.2925     0.3239     0.9031     0.3664     -0.3423      0.9273
C(product_j)[T.VW_jetta]              -0.1125     0.6038    -0.1864     0.8522     -1.2959      1.0709
C(product_j)[T.VW_lupo]                0.3867     0.2158     1.7923     0.0731     -0.0362      0.8096
C(product_j)[T.VW_passat]              0.1627     0.3503     0.4645     0.6423     -0.5238      0.8493
C(product_j)[T.VW_polo]                0.2547     0.2512     1.0137     0.3107     -0.2378      0.7471
C(product_j)[T.VW_vento]               0.0926     0.2914     0.3177     0.7507     -0.4785      0.6636
C(product_j)[T.alfa romeo_145]         0.8329     0.4588     1.8152     0.0695     -0.0664      1.7322
C(product_j)[T.alfa romeo_146]         0.4478     0.5262     0.8510     0.3948     -0.5836      1.4791
C(product_j)[T.alfa romeo_155]         0.1844     0.5783     0.3189     0.7498     -0.9490      1.3178
C(product_j)[T.alfa romeo_156]         0.1614     0.2196     0.7349     0.4624     -0.2690      0.5917
C(product_j)[T.alfa romeo_164]         0.4600     0.2675     1.7196     0.0855     -0.0643      0.9842
C(product_j)[T.alfa romeo_166]         0.1359     0.2169     0.6265     0.5310     -0.2892      0.5609
C(product_j)[T.alfa romeo_33]          0.1563     0.4380     0.3568     0.7212     -0.7022      1.0147
C(product_j)[T.alfa romeo_75]          0.3394     0.6959     0.4877     0.6258     -1.0246      1.7034
C(product_j)[T.alfa romeo_GTV]         0.2261     0.2849     0.7936     0.4274     -0.3322      0.7844
C(product_j)[T.audi_100/200]          -0.6191     0.4120    -1.5027     0.1329     -1.4265      0.1884
C(product_j)[T.audi_80/90]             0.7072     0.3878     1.8234     0.0682     -0.0530      1.4673
C(product_j)[T.audi_A3]               -0.1287     0.3569    -0.3606     0.7184     -0.8281      0.5707
C(product_j)[T.audi_A4]                0.5904     0.4986     1.1840     0.2364     -0.3869      1.5677
C(product_j)[T.audi_A6]               -0.1889     0.4265    -0.4429     0.6578     -1.0249      0.6471
C(product_j)[T.audi_A8]                0.4180     0.3499     1.1945     0.2323     -0.2679      1.1039
C(product_j)[T.citroen_2CV6]           0.7023     0.1988     3.5324     0.0004      0.3126      1.0919
C(product_j)[T.citroen_AX]            -0.3237     0.3830    -0.8450     0.3981     -1.0744      0.4271
C(product_j)[T.citroen_BX]            -0.3401     0.5210    -0.6528     0.5139     -1.3612      0.6810
C(product_j)[T.citroen_CX]             0.3195     0.4382     0.7292     0.4659     -0.5394      1.1785
C(product_j)[T.citroen_XM]             0.3677     0.3743     0.9826     0.3258     -0.3658      1.1013
C(product_j)[T.citroen_ZX]             0.4362     0.3180     1.3715     0.1702     -0.1871      1.0595
C(product_j)[T.citroen_saxo]           0.1417     0.3670     0.3861     0.6994     -0.5776      0.8610
C(product_j)[T.citroen_xantia]         0.2064     0.4784     0.4314     0.6662     -0.7312      1.1439
C(product_j)[T.citroen_xsara]          1.1731     0.4482     2.6173     0.0089      0.2946      2.0516
C(product_j)[T.daewoo_espero]          0.1027     0.2330     0.4405     0.6596     -0.3541      0.5594
C(product_j)[T.daewoo_lanos]           1.1967     0.5930     2.0179     0.0436      0.0344      2.3590
C(product_j)[T.daewoo_leganza]        -0.1782     0.2089    -0.8531     0.3936     -0.5876      0.2312
C(product_j)[T.daewoo_matiz]           0.0239     0.3175     0.0751     0.9401     -0.5983      0.6461
C(product_j)[T.daewoo_nexia]           0.1613     0.4352     0.3707     0.7108     -0.6916      1.0143
C(product_j)[T.daewoo_nubira]         -0.5918     0.2083    -2.8407     0.0045     -1.0001     -0.1835
C(product_j)[T.daihatsu_applause]      0.3252     0.2878     1.1301     0.2584     -0.2388      0.8892
C(product_j)[T.daihatsu_charade]      -0.2576     0.3429    -0.7512     0.4526     -0.9296      0.4145
C(product_j)[T.daihatsu_domino]       -0.4484     0.2979    -1.5049     0.1324     -1.0323      0.1356
C(product_j)[T.daihatsu_sirion]       -0.7538     0.2162    -3.4865     0.0005     -1.1775     -0.3300
C(product_j)[T.fiat_126]              -0.0362     0.6902    -0.0524     0.9582     -1.3889      1.3165
C(product_j)[T.fiat_brava/o]           0.1237     0.5048     0.2450     0.8064     -0.8658      1.1132
C(product_j)[T.fiat_cinquecento]       0.2979     0.3106     0.9591     0.3375     -0.3109      0.9067
C(product_j)[T.fiat_croma]             0.6481     0.3752     1.7276     0.0841     -0.0872      1.3834
C(product_j)[T.fiat_marea]             0.3118     0.2175     1.4337     0.1516     -0.1145      0.7381
C(product_j)[T.fiat_palio]             0.9903     0.7204     1.3746     0.1692     -0.4217      2.4022
C(product_j)[T.fiat_panda]            -0.0075     0.2678    -0.0282     0.9775     -0.5324      0.5173
C(product_j)[T.fiat_punto]             0.0583     0.6248     0.0933     0.9257     -1.1663      1.2829
C(product_j)[T.fiat_regatta]          -0.5457     0.3213    -1.6982     0.0895     -1.1755      0.0841
C(product_j)[T.fiat_seicento]         -0.7920     0.2337    -3.3885     0.0007     -1.2502     -0.3339
C(product_j)[T.fiat_tempra]            0.3442     0.4557     0.7555     0.4500     -0.5489      1.2373
C(product_j)[T.fiat_tipo]              0.4065     0.4103     0.9906     0.3219     -0.3978      1.2107
C(product_j)[T.fiat_uno]              -0.1372     0.5524    -0.2483     0.8039     -1.2198      0.9455
C(product_j)[T.ford_escort]            0.3056     0.3053     1.0011     0.3168     -0.2928      0.9040
C(product_j)[T.ford_fiesta]           -0.0681     0.3361    -0.2027     0.8394     -0.7269      0.5906
C(product_j)[T.ford_focus]             0.1364     0.2243     0.6082     0.5430     -0.3032      0.5760
C(product_j)[T.ford_ka]               -0.4642     0.2220    -2.0913     0.0365     -0.8992     -0.0291
C(product_j)[T.ford_mondeo]            1.0642     0.4493     2.3687     0.0179      0.1836      1.9447
C(product_j)[T.ford_orion]            -0.1521     0.3449    -0.4409     0.6593     -0.8280      0.5239
C(product_j)[T.ford_scorpio]           0.3139     0.3049     1.0297     0.3031     -0.2836      0.9114
C(product_j)[T.ford_sierra]           -0.2110     0.3830    -0.5509     0.5817     -0.9617      0.5397
C(product_j)[T.honda_accord]          -0.0429     0.2663    -0.1610     0.8721     -0.5648      0.4790
C(product_j)[T.honda_civic]            0.2257     0.2980     0.7575     0.4488     -0.3584      0.8098
C(product_j)[T.honda_concerto]         0.3761     0.3979     0.9451     0.3446     -0.4039      1.1560
C(product_j)[T.honda_legend]          -0.2586     0.4670    -0.5537     0.5798     -1.1740      0.6568
C(product_j)[T.honda_logo]            -0.1510     0.2157    -0.6999     0.4840     -0.5738      0.2718
C(product_j)[T.hyundai_atos]          -0.9099     0.6471    -1.4061     0.1597     -2.1783      0.3584
C(product_j)[T.hyundai_lantra]         0.1086     0.3505     0.3099     0.7567     -0.5784      0.7957
C(product_j)[T.hyundai_pony]           0.0979     0.2879     0.3402     0.7337     -0.4664      0.6622
C(product_j)[T.hyundai_sonata]        -0.0113     0.3215    -0.0352     0.9719     -0.6415      0.6188
C(product_j)[T.kia_clarus]             1.2067     0.4875     2.4753     0.0133      0.2512      2.1622
C(product_j)[T.kia_pride]             -0.1125     0.6638    -0.1694     0.8655     -1.4135      1.1886
C(product_j)[T.kia_sephia]             0.1540     0.4662     0.3303     0.7412     -0.7598      1.0678
C(product_j)[T.kia_shuma]              0.1629     0.2240     0.7276     0.4669     -0.2760      0.6019
C(product_j)[T.lancia_Y10]            -0.0859     0.3558    -0.2414     0.8092     -0.7833      0.6115
C(product_j)[T.lancia_dedra]           0.3796     0.3805     0.9975     0.3185     -0.3663      1.1254
C(product_j)[T.lancia_delta]          -0.1393     0.3067    -0.4542     0.6497     -0.7405      0.4619
C(product_j)[T.lancia_kappa]          -0.1871     0.5998    -0.3119     0.7551     -1.3627      0.9885
C(product_j)[T.lancia_thema]           0.0274     0.2672     0.1025     0.9184     -0.4964      0.5512
C(product_j)[T.mazda_121]              0.3108     0.2972     1.0456     0.2957     -0.2718      0.8933
C(product_j)[T.mazda_323]              0.0232     0.2466     0.0941     0.9250     -0.4601      0.5065
C(product_j)[T.mazda_626]              0.2372     0.3194     0.7426     0.4577     -0.3888      0.8631
C(product_j)[T.mazda_929]             -0.2745     0.2460    -1.1157     0.2645     -0.7567      0.2077
C(product_j)[T.mazda_demio]            1.5737     0.6015     2.6162     0.0089      0.3948      2.7526
C(product_j)[T.mazda_xedos]            0.2698     0.2492     1.0824     0.2791     -0.2187      0.7583
C(product_j)[T.mercedes_190]          -0.1909     0.2727    -0.6999     0.4840     -0.7254      0.3436
C(product_j)[T.mercedes_200]           0.3126     0.4867     0.6423     0.5207     -0.6413      1.2666
C(product_j)[T.mercedes_A]             0.5824     0.3838     1.5174     0.1292     -0.1699      1.3347
C(product_j)[T.mercedes_C]             0.2908     0.2978     0.9763     0.3289     -0.2930      0.8745
C(product_j)[T.mercedes_E]             0.0666     0.2626     0.2535     0.7999     -0.4481      0.5812
C(product_j)[T.mitsubishi_carisma]     0.3735     0.3552     1.0515     0.2930     -0.3227      1.0696
C(product_j)[T.mitsubishi_colt]        0.4382     0.3146     1.3931     0.1636     -0.1783      1.0548
C(product_j)[T.mitsubishi_galant]     -0.0545     0.2494    -0.2184     0.8271     -0.5432      0.4343
C(product_j)[T.mitsubishi_lancer]     -0.2479     0.3793    -0.6536     0.5134     -0.9914      0.4955
C(product_j)[T.mitsubishi_sigma]       0.5990     0.3452     1.7351     0.0827     -0.0776      1.2757
C(product_j)[T.nissan_almera]          0.3903     0.2650     1.4730     0.1408     -0.1291      0.9097
C(product_j)[T.nissan_bluebird]        0.4282     0.9151     0.4680     0.6398     -1.3653      2.2218
C(product_j)[T.nissan_laurel]         -1.0572     0.7294    -1.4495     0.1472     -2.4868      0.3724
C(product_j)[T.nissan_maxima]         -0.0750     0.2985    -0.2512     0.8017     -0.6601      0.5101
C(product_j)[T.nissan_micra]           0.0770     0.2995     0.2571     0.7971     -0.5101      0.6641
C(product_j)[T.nissan_primera]         0.0364     0.2872     0.1268     0.8991     -0.5265      0.5993
C(product_j)[T.nissan_sunny]           0.4510     0.3430     1.3149     0.1885     -0.2212      1.1231
C(product_j)[T.opel_astra]            -0.0782     0.2978    -0.2625     0.7929     -0.6619      0.5055
C(product_j)[T.opel_corsa]             0.1528     0.2914     0.5244     0.6000     -0.4183      0.7239
C(product_j)[T.opel_kadet]             0.0431     0.3838     0.1124     0.9105     -0.7091      0.7954
C(product_j)[T.opel_omega]            -0.0865     0.3107    -0.2785     0.7806     -0.6954      0.5224
C(product_j)[T.opel_senator]          -0.0025     0.3698    -0.0067     0.9946     -0.7273      0.7223
C(product_j)[T.opel_vectra]            0.1357     0.2923     0.4642     0.6425     -0.4372      0.7086
C(product_j)[T.peugeot_106]            0.3682     0.4408     0.8352     0.4036     -0.4958      1.2321
C(product_j)[T.peugeot_205]            0.4583     0.3769     1.2160     0.2240     -0.2804      1.1971
C(product_j)[T.peugeot_206]           -0.6070     0.2158    -2.8132     0.0049     -1.0299     -0.1841
C(product_j)[T.peugeot_306]            0.1270     0.4424     0.2872     0.7740     -0.7400      0.9941
C(product_j)[T.peugeot_309]            0.2353     0.3415     0.6890     0.4908     -0.4340      0.9046
C(product_j)[T.peugeot_405]           -0.0693     0.3358    -0.2063     0.8366     -0.7275      0.5889
C(product_j)[T.peugeot_406]            0.6914     0.3071     2.2509     0.0244      0.0894      1.2933
C(product_j)[T.peugeot_505]            0.0890     0.4913     0.1813     0.8562     -0.8738      1.0519
C(product_j)[T.peugeot_605]           -0.3263     0.3662    -0.8911     0.3729     -1.0441      0.3914
C(product_j)[T.renault_19]             0.0726     0.2539     0.2858     0.7750     -0.4251      0.5702
C(product_j)[T.renault_21]             0.1476     0.2350     0.6281     0.5299     -0.3130      0.6082
C(product_j)[T.renault_25]             0.0530     0.4376     0.1211     0.9037     -0.8047      0.9106
C(product_j)[T.renault_4]             -0.4148     0.3937    -1.0536     0.2921     -1.1864      0.3568
C(product_j)[T.renault_5]             -0.0856     0.3937    -0.2173     0.8279     -0.8572      0.6861
C(product_j)[T.renault_clio]           0.2813     0.3888     0.7235     0.4693     -0.4807      1.0433
C(product_j)[T.renault_laguna]         0.2299     0.2872     0.8002     0.4236     -0.3331      0.7928
C(product_j)[T.renault_mégane]        -0.4222     0.3481    -1.2130     0.2251     -1.1045      0.2600
C(product_j)[T.renault_nevada]        -0.0920     0.2338    -0.3934     0.6940     -0.5501      0.3662
C(product_j)[T.renault_safrane]        0.4193     0.4415     0.9497     0.3423     -0.4461      1.2847
C(product_j)[T.renault_twingo]         0.3670     0.3532     1.0391     0.2988     -0.3253      1.0593
C(product_j)[T.rover_100]              0.1180     0.3154     0.3741     0.7083     -0.5002      0.7363
C(product_j)[T.rover_200]              0.1327     0.2594     0.5116     0.6089     -0.3758      0.6412
C(product_j)[T.rover_400]              0.1746     0.2238     0.7801     0.4354     -0.2641      0.6132
C(product_j)[T.rover_600]              0.3085     0.3684     0.8373     0.4024     -0.4136      1.0306
C(product_j)[T.rover_75]              -0.0850     0.2813    -0.3022     0.7625     -0.6364      0.4664
C(product_j)[T.rover_800]              0.2355     0.3364     0.7001     0.4839     -0.4238      0.8948
C(product_j)[T.rover_cabrio]          -0.2313     0.2138    -1.0821     0.2792     -0.6503      0.1876
C(product_j)[T.rover_metro]            0.2763     0.5109     0.5408     0.5886     -0.7250      1.2775
C(product_j)[T.rover_mini]             0.1419     0.3158     0.4492     0.6533     -0.4771      0.7608
C(product_j)[T.rover_montego]          0.4093     0.3859     1.0608     0.2888     -0.3470      1.1656
C(product_j)[T.saab_9.3]              -0.0258     0.2630    -0.0982     0.9218     -0.5413      0.4897
C(product_j)[T.saab_9.5]              -1.7270     0.3019    -5.7198     0.0000     -2.3187     -1.1352
C(product_j)[T.saab_900]               0.5564     0.3128     1.7789     0.0753     -0.0566      1.1694
C(product_j)[T.saab_9000]              0.3357     0.3009     1.1155     0.2646     -0.2541      0.9255
C(product_j)[T.seat_arosa]             0.1687     0.3559     0.4740     0.6355     -0.5289      0.8663
C(product_j)[T.seat_cordoba]           0.0439     0.3115     0.1410     0.8879     -0.5666      0.6544
C(product_j)[T.seat_ibiza]            -0.0843     0.3078    -0.2740     0.7841     -0.6877      0.5190
C(product_j)[T.seat_malaga]            0.2511     0.4621     0.5433     0.5869     -0.6547      1.1569
C(product_j)[T.seat_marbella]          0.2454     0.4038     0.6078     0.5433     -0.5460      1.0369
C(product_j)[T.seat_toledo]            0.3829     0.3914     0.9782     0.3280     -0.3843      1.1501
C(product_j)[T.skoda_favorit]          0.6726     0.2295     2.9312     0.0034      0.2228      1.1223
C(product_j)[T.skoda_felicia]          0.6895     0.6448     1.0694     0.2849     -0.5743      1.9534
C(product_j)[T.skoda_octavia]          0.5450     0.3363     1.6208     0.1051     -0.1140      1.2041
C(product_j)[T.subaru_L13]             0.8686     0.3288     2.6420     0.0082      0.2242      1.5130
C(product_j)[T.subaru_mini jum]        0.4770     0.2171     2.1973     0.0280      0.0515      0.9024
C(product_j)[T.subaru_vivio]           0.2610     0.4023     0.6488     0.5164     -0.5274      1.0495
C(product_j)[T.suzuki_alto]            0.0573     0.4182     0.1370     0.8910     -0.7624      0.8771
C(product_j)[T.suzuki_baleno]          0.7429     0.2489     2.9851     0.0028      0.2551      1.2307
C(product_j)[T.suzuki_swift]           0.0648     0.3135     0.2068     0.8362     -0.5496      0.6793
C(product_j)[T.toyota_avensis]         0.1416     0.2058     0.6881     0.4914     -0.2617      0.5449
C(product_j)[T.toyota_camry]           0.0252     0.2741     0.0921     0.9266     -0.5119      0.5624
C(product_j)[T.toyota_carina2]         0.1875     0.3084     0.6080     0.5432     -0.4170      0.7921
C(product_j)[T.toyota_corolla]        -0.1655     0.2491    -0.6643     0.5065     -0.6536      0.3227
C(product_j)[T.toyota_starlet]         0.3888     0.3315     1.1728     0.2409     -0.2610      1.0385
C(product_j)[T.toyota_yaris]          -0.2055     0.2360    -0.8707     0.3839     -0.6681      0.2571
C(product_j)[T.volvo_240]              0.1810     0.2649     0.6832     0.4945     -0.3382      0.7002
C(product_j)[T.volvo_340]              0.4084     0.4379     0.9325     0.3511     -0.4500      1.2667
C(product_j)[T.volvo_440-460]         -0.0623     0.3089    -0.2016     0.8402     -0.6678      0.5432
C(product_j)[T.volvo_740-760]          0.0402     0.3217     0.1250     0.9006     -0.5903      0.6706
C(product_j)[T.volvo_850]              0.2510     0.5832     0.4304     0.6669     -0.8920      1.3939

In [ ]:
exog_cols = exog.columns.tolist()
excluded_instrument_cols = ['averagesizecompetitor', 'products', 'home']

# Print any overlap
overlap = set(exog_cols).intersection(excluded_instrument_cols)
if overlap:
    print("Columns overlapping between exog and excluded instruments:", overlap)

# You can also check the final DataFrame for duplicates:
temp_instr = pd.concat([df_fe[excluded_instrument_cols], exog], axis=1)
duplicate_flags = temp_instr.columns.duplicated(keep=False)
if duplicate_flags.any():
    print("Duplicate columns in final instrument matrix:")
    print(temp_instr.columns[duplicate_flags])

In [ ]:
print(results.first_stage)

## Comment on the results of OLS vs IV

I started by including just averagesizecompetitor and products as instruments, but F < 10 so weak instruments were a concern. The partial R-squared was 0.028, meaning  that the instruments explain only ~2.8% of the variation in price conditional on other exogenous regressors.

However, after including the home-production dummy variable as another instrument as a cost-shifter, the F-Stat is now strong. 

Why home helps

Including home (domestic vs. foreign) likely improves identification because:
	•	It may proxy cost structure differences (e.g., labor, import taxes, shipping).
	•	Foreign-produced cars may be priced differently even for the same quality level.
	•	It’s likely exogenous to unobserved product quality, especially if it’s a supply-side characteristic.

This makes it a good cost shifter and valid instrument, assuming it’s not correlated with \xi_j (unobserved demand shocks). Is this a valid assumption?? 

## Notes on estimates
- They don't make sense as an increase in the age in 1 is associated in an increase in mean utility which is wrong!

### Estimate a nested logit model

The standard multinomial logit assumes IIA (Independence of Irrelevant Alternatives), which leads to unrealistic substitution patterns. The nested logit model relaxes this by allowing higher substitution within groups (nests) than across them. Therefore, the key idea is: Put products in the same nest when consumers are more likely to substitute between them.  


My chosen nests:
Nest 1: New vs Used Car  
I could do further nests based on brand, engine size, fuel type, domestically produced, but let's keep it simple!